table, th, td {
   border: 1px solid black;
   text-align: center;
}

th{
  height: 25px;
  font-size: 14px;
  text-decoration: underline;
  color: #0099ff;
}

td{
  height: 25px;
}

li.alert_items{
  /*height: 18px;*/
  font-size: 19px;
  line-height: 130%;
  margin-bottom: 16px;
  margin-top: 16px;
  display: 'block';
  /*flex-direction: 'column';*/

}

.date{
  color: #0099ff;
  font-size: 14px;
}

#error{
  color: red;
  font-size: 20px;
  text-align: center;
}
