th, td {
   border: 1px solid #dcdfe5;
   text-align: center;
}

th{
  height: 25px;
  font-size: 14px;
  /*text-decoration: underline;*/
  color: #0099ff;
}

td{
  height: 25px;
  padding: 1px;
}

li.alert_items{
  /*height: 18px;*/
  font-size: 19px;
  line-height: 130%;
  margin-bottom: 16px;
  margin-top: 16px;
  display: 'block';
  /*flex-direction: 'column';*/

}

.date{
  color: #0099ff;
  font-size: 14px;
}

#error{
  color: red;
  font-size: 20px;
  text-align: center;
}

#search_button{
  width: 100px;
  height: 35px;
  margin: auto;
  text-align: center;
  position: relative;
  left: 80px;
}

.separator{
  height: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #0099ff;
}
